exports.CLIENT_ID='112345678900'
exports.CLIENT_SECRET='CeCi_EsT-l-Id_Du.ClIeNt'
exports.BOT_TOKEN='CECI.EST.UN.TOKEN.TRES.TRES.TRES.TRES.LONG'
exports.BOT_URL='https://discordapp.com/api/oauth2/authorize?client_id=112345678900&permissions=8&scope=bot'